
<%#= simple_form_for image do |f| %>
<% image.tag_list.each do |tag| %>
<!--  <button type="button" class="btn btn-primary"> <%#= tag %></button>-->
<!--    <input type="submit" class="btn btn-primary" value= <%#= tag %> />-->
  <%= link_to tag, root_path(tag: tag), class: "btn btn-primary" %>
    <%#= f.input :tag %>
  <%#= f.submit class: 'btn btn-primary', value: tag%>
<%# end %>
<% end %>


