
<div class="album text-muted">
  <div class="container">
    <div class="card-columns">
      <% @images.each do |image| %>
        <div class="card">
          <div class="card-body">
            <%= link_to image_tag(image.url, class: 'card-img'), image_path(image)  %>

          </div>

          <div class="card-footer bg-transparent border-success">
            <%= render partial: 'tags', locals: { image: image } %>
          </div>


        </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag 'views/images/index' %>
<% end %>
