<p>
	Hello Bhargav!</br>
</p>

<%= link_to 'New Image', new_image_path %>

<table border = '1'>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Link to Image</th>
  </tr>

  <% @images.reverse_each do |image| %>
    <tr>
      <td><%= image.id %></td>
      <td><%= image_tag(image.url, height: 400, width: 400) %></td>
      <td><%= link_to 'Show', image_path(image) %></td>
    </tr>
  <% end %>
</table>	