<h1>New Image</h1>

<%= simple_form_for @image do |f| %>
  <%= f.input :url %>
  <%= f.input :tag_list, label: 'Tags', hint: 'Separate with commas' %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
