<p>
  <strong>Image:</strong> <br/>
  <%= image_tag(@image.url) %>

  <%= render partial: 'tags', locals: { image: @image } %>
  <%= render partial: 'deletebutton', locals: { image: @image } %>

</p>
